---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import WhyDip from '../components/WhyDip.astro'
import Protocol from '../components/Protocol.astro'
import Artifacts from '../components/Artifacts.astro'
import PrdExample from '../components/PrdExample.astro'
import GettingStarted from '../components/GettingStarted.astro'
import SourcesUsed from '../components/SourcesUsed.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <main>
    <Hero />
    <WhyDip />
    <Protocol />
    <Artifacts />
    <PrdExample />
    <GettingStarted />
  </main>
  <Footer />
  <SourcesUsed />
</Layout>
